{% extends 'partials/base.html.twig' %}
{% block content %}
<article class="box post post-excerpt">
  	<div class="title">
    <h2>{{ form.message }}</h2>	
	</div>
    <div class="meta">
    <time class="published" datetime="{{form.date|date("Y-m-d")}}">{{ form.date|date("Y/m/d")}}</time>                              
    </div>
   </header>
  <p>メッセージ内容:</p>

  {{ content }}

  {% include "forms/data.html.twig" %}
</article>
{% endblock %}
